---
director-configuration:
  ntp_servers_string: 0.pool.ntp.org
  metrics_ip: 
  resurrector_enabled: true
  post_deploy_enabled: false
  bosh_recreate_on_next_deploy: false
  retry_bosh_deploys: true
  hm_pager_duty_options: 
    enabled: false
  hm_emailer_options:
    enabled: false
  blobstore_type: local
  database_type": internal
iaas-configuration:
  subscription_id: ((azure_subscription_id))
  tenant_id: ((azure_tenant_id))
  client_id: ((azure_client_id))
  client_secret: ((azure_client_secret))
  resource_group_name: ((azure_resource_group))
  bosh_storage_account_name: ((environment_shortname))root
  default_security_group: pcf-default-security-group
  ssh_public_key: ((ssh_public_key))
  ssh_private_key: ((ssh_private_key))
  cloud_storage_type: managed_disks
  storage_account_type: Premium_LRS
  environment: AzureCloud
network-assignment:
  network:
    name: infrastructure
networks-configuration:
  icmp_checks_enabled: false
  networks:
  - network: 
    name: infrastructure
    service_network: false
    subnets:
    - iaas_identifier: ((azure_terraform_prefix))-virtual-network/((azure_terraform_prefix))-opsman-and-director-subnet
      cidr: ((azure_terraform_subnet_infra_cidr))
      reserved_ip_ranges: ((azure_terraform_subnet_infra_reserved))
      dns: ((azure_terraform_subnet_infra_dns)),
      gateway": ((azure_terraform_subnet_infra_gateway))
  - network: 
    name: ert
    service_network: false
    subnets:
    - iaas_identifier: ((azure_terraform_prefix))-virtual-network/((azure_terraform_prefix))-ert-subnet
      cidr: ((azure_terraform_subnet_ert_cidr))
      reserved_ip_ranges: ((azure_terraform_subnet_ert_reserved))
      dns: ((azure_terraform_subnet_ert_dns)),
      gateway": ((azure_terraform_subnet_ert_gateway))
  - network: 
    name: services-1
    service_network: false
    subnets:
    - iaas_identifier: ((azure_terraform_prefix))-virtual-network/((azure_terraform_prefix))-services-01-subnet
      cidr: ((azure_terraform_subnet_services1_cidr))
      reserved_ip_ranges: ((azure_terraform_subnet_services1_reserved))
      dns: ((azure_terraform_subnet_services1_dns)),
      gateway": ((azure_terraform_subnet_services1_gateway))
  - network: 
    name: dynamic-services
    service_network: true
    subnets:
    - iaas_identifier: ((azure_terraform_prefix))-virtual-network/((azure_terraform_prefix))-dynamic-services-subnet
      cidr: ((azure_terraform_subnet_dynamic_services_cidr))
      reserved_ip_ranges: ((azure_terraform_subnet_dynamic_services_reserved))
      dns: ((azure_terraform_subnet_dynamic_services_dns)),
      gateway": ((azure_terraform_subnet_dynamic_services_gateway))
resource-configuration:
  compilation:
    instance_type:
      id: m4.xlarge
security-configuration:
  trusted_certificates: ((trusted_certificates))
  generate_vm_passwords: true
