---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: pcfnorm/rootfs

inputs:
- name: downloaded-product
- name: winfs-injector
run:
  path: config/tasks/build-injected-pasw/task.sh
outputs:
- name: pasw-injected
